.cart > div {
    display: flex;
    margin: 0 auto;
    width: 90vw;
    justify-content: space-around;
}

.cart h2 {
    text-align: center;
    margin: 30px;
}

/* ------------------------- CART PRODUCT ----------------------------- */
.cart-product {
    display: flex;
    padding: 4px 20px;
    background-color: #999;
    margin: 6px 0px;
    border-radius: 10px;
    
}

.cart-product > *{
    margin: 10px;
    width: -moz-available;
}

.cart-product img {
    width: 0px;
    min-width: 150px;
    height: 150px; 
}

.cart-product h3 {
    font-weight: 500;
    word-wrap: break-word;
    text-align: center;
}
.cart-product-info{
    min-width: 20%;
}

.cart-product-info  > div {
    margin-top: 10px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: auto 10px;
}
.cart-product-info > *{
    margin: 10% auto;
}

.cart-product-info input {
    width: 100px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
}

.cart-product-info > div > p{
    align-self: center;
}

.cart-products{
    width: 70%;
}
/*--------------*/
.cart-total{
    display: flex;
    flex-direction: column;
}
.cart-buttons{
    display: flex;
    flex-direction: column;
}
.cart-buttons > * {
    margin: 5px 0px;

}
.cart-buttons a{
    display: flex;
    align-items: center;
    padding: 0px 36px;
    text-decoration: none;
}

.cart-buttons nutton{
    align-items: center;
    display: flex;
    font-weight: bold;
    padding: 10px;
}

.cart-total > p > span{
    color: royalblue;
    font-weight: bold;
}
.cart-total > p{
    margin: 30px 0px 50px 0px;
}



.cart-product-price *:first-child{
    justify-content: space-around;
    display: flex;
}
.cart-product-price > *:first-child{
    justify-content: space-around;
    display: flex;
    margin-top: 14px;
}

.cart-product-price *:first-child a{
    text-align: center;
    text-decoration: none;
    align-items: center;
    padding: 4px 10px;
    margin: 3px 0px;
    font-weight: bold;
}

.cart-product-price *:first-child button{
    text-align: center;
    text-decoration: none;
    align-items: center;
    padding: 4px 10px;
    margin: 3px 0px
}

.cart-product-price > *:nth-child(2){
    display: flex;
    flex-direction: column;
    margin-top: 20px ;
}
.cart-product-price > *:nth-child(2) > *{
    display: flex;
    justify-content: space-between;
    margin: 2px 20px;
}

/* ------------------------- EMPTY CART----------------------------- */
.cart-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
}

.cart-empty h2 {
    font-weight: 500;
    margin: 10px;
}

.cart-empty a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 30px 50px;
    font-size: 1.5em;
    font-weight: 700;
}

a {
    text-decoration: none;
}