.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f1f1f1;
    padding-top: 10px;
    padding-bottom: 40px;
}

.products > h2 {
    font-size: 2em;
    margin: 20px;
}

.products .products-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 20px;
    margin-top: 30px;
}

.product {
    background-color: #fff;
    padding: 20px;
    width: 230px;
    /* margin: 0 auto; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
}

.product:hover {
    box-shadow: 0 0 20px -7px #999;
}

.product h2 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.2em;
}

.product h5 {
    color: #0066cc;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.3em;
}

.product img {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.product button, .product a {
    font-size: 1em;
    width: 150px;
    padding: 5px 0;
    margin: 3px auto;
    margin-top: auto;
    align-self: center;
}

.product button:hover {
    box-shadow: 0 0 10px  #999;
}

.product-description {
    font-size: 0.8em;
}

.product h3 {
    text-decoration: underline #0066cc;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
}

.products > div {
    max-width: 900px;
    margin: 0 40px;
}

/* ------------------------- SEARCH BAR ----------------------------- */
.products .search-bar {
    width: 100%;
}

.products .search-bar > div {
    display: grid;
    grid-template-areas: 
                "search_name search_name search_name search_name"
                "category category min_value max_value";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

.products [name="search_name"] {
    grid-area: search_name;
    width: 100%;
    padding: 5px;
    font-size: 1.1em;
    border-radius: 5px;
}

.products [name="category"] {
    grid-area: category;
    outline: none;
    border: none;
    padding: 5px;
    font-size: 1.1em;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
}

.products [name="min_value"] {
    grid-area: min_value;
    padding: 5px;
    border-radius: 5px;
}

.products [name="max_value"] {
    grid-area: max_value;
    padding: 5px;
    border-radius: 5px;
}

@media only screen and (max-width: 810px) {
    .products .products-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 700px) {
    .products .search-bar > div {
        display: grid;
        grid-template-areas: 
                    "search_name search_name"
                    "category category"
                    "min_value max_value";
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media only screen and (max-width: 520px) {
    .products .products-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search-bar > input {
        margin: 5px 0;
    }

    .products .search-bar > div {
        display: flex;
        flex-direction: column;
    }

}