.profile-form input:not([type="submit"]){
    background-color: #fafafa;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 0.9em;
    color: #222;
    width: 100%;
    box-sizing: border-box;
}

.profile-form [type="submit"], .profile-form button {
    width: 100%;
    max-width: 400px;
    font-size: 1em;
    padding: 5px 0;
    align-self: center;
    margin: 5px;
    margin-bottom: 0;
    font-weight: bolder;
}

.profile-form .profile-address-form div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profile-form .profile-address-form div > input {
    width: 49%;
}

.profile-form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.profile-form-buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.profile-personal-form {
    max-width: 400px;
    margin: 0 auto;
}

.profile-address-form {
    background-color: #ebebeb;
    padding: 20px 80px;
    margin: 30px 0;
    border-radius: 10px;
}

.profile-address-form h2 {
    margin-bottom: 10px;
}

.profile input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.profile input[type=number] {
-moz-appearance: textfield;
}

@media only screen and (max-width: 450px) {
    .profile-form {
        padding: 0 20px;
    }
    
}