#panel_princ_stock {
    color:black;
    padding: 20px;
    background-color: #e3e3e3;
    height: 100%;
}

#div-stock {
    width: 100%;
}

#stocks_cabecalho {
    margin-top: 20px;
}
#stock_card {
    display: inline-flex;
    max-width: 49%;
    width: 100%;
    flex-direction: row;
    background-color: #FFFFFF;
    justify-content: space-around;
    border-radius: 10px;
    margin: 3px 0.5%;
    align-items: center;
}
#stock_card p{
    word-break: break-word;
    width: 50%;
}
#stocks_cabecalho{
     
    background-color: #C4C4C4;  

}
#stocks_cabecalho_internal {
    font-size: large;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    text-align: center; 
    width: 60%;
}

.stock_cabecalho{
    font-weight: bolder;
    width: 100%;
}

.stock_card_item {
    padding: 5px;
    
    text-align: center;
    font-size: small;
    margin: 0 10px 0 10px;
    width: 120px;
    margin: 10px 5px 10px 5px;
}
.btn-preset{
    height: 30px;
}

.div_de_fora_do_modal{
    display: flex;
    justify-content: center;
}
#AddStockModal {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333;
    border-radius: 10px;
    margin: 10px auto;
}
#AddStockModal > *{
    margin: auto;
    margin: 10px auto 10px auto;
}
#AddStockModal > p{
    color: white;
}
#AddStockModal > input{
    cursor: text;
}