#panel_princ_users {
    color:black;
    padding: 20px;
    z-index: 200;
}

#users_cabecalho {
    margin-top: 20px;
}

#div-users {
    width: 100%;
}
#user_card {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    justify-content: space-around;
}
#users_cabecalho{
    background-color: #C4C4C4;  

}
#users_cabecalho_internal {
    font-size: large;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    text-align: center; 
    width: 60%;
}

.user_cabecalho{
    font-weight: bolder;
    width: 100%;
}

.user_card_item {
    padding: 5px;
    text-align: center;
    font-size: small;
    margin: 0 10px 0 10px;
    width: 120px;
    margin: 10px 0 10px 0;
}

.btn-preset-alt{
    background-color: #222;;
    border-radius: 5px;
    transition: all 0.3s;
    font-weight: 900;
    color:white

}

