
#panel_princ_admin {
    color: black;
    padding: 20px;
}
#newtextbtn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel_admin_text_small {
    margin-top: 20px;
    font-size: small;
}

#panel_admin_newTxt {
    min-width: 450px;
    min-height: 300px;
}
#newtextbtn button{
    width: 150px;
    margin: 10px;
    height: auto;
    padding: 10px 0px;
}

#store_admin{
    display: flex;
    align-items: center;
}

.panel_admin_subtitle {
    margin-top: 25px;
}

#grafico_faturamento{
    width: 400px;
    height: 200px;
    background-color: #C4C4C4;

}