.not-found-section{
    background-color: black;
    min-height: 69vh;
    display: flex;
    flex-direction: column;
}
.not-found-figure{
    max-width: 30%;
    position: relative;
    height: 25vw;
    margin: auto;
}
.not-found-image{
    height: 100%;
}
.not-found-section > p{
    color: wheat;
    font-size: 1.2rem;
    margin: 3px auto;
}
#numeros{
    font-size: 1.8rem;
}