.panel-products {
    display: flex;
    color: #222;
    background-color: #e3e3e3;
}

.panel-products {
    padding:  20px 0;
    max-width: 83vw;
}

.panel-products > * {
    margin: 0 20px;
    max-width: 58%;
}

.panel-products h3 {
    font-weight: 500;
}

/* ------------------------- ADD PRODUCT ----------------------------- */
.add-product {
    display: flex;
    flex-direction: column;
}

.add-product input {
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}

.add-product textarea{
    resize: none;
    width: 100%;
    border: none;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    outline: none;
}

.add-product select {
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 5px none;
    background-color: #fff;
    padding: 5px;
}

.add-product-numbers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.add-product-numbers * {
    width: 100%;
}

.image-input label {
    font-weight: 500;
}

/* ------------------------- EDIT PRODUCT ----------------------------- */
.edit-products button {
    padding: 5px 15px;
    margin: 0 2.5px;
}

.edit-products {
    margin-top: 30px;
    width: 400px;
}
.edit-products li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 350px;
    margin: 5px 0;background-color: #fafafa;
    border-radius: 5px;
    padding: 5px;
    align-items: center;
}

.edit-products li h4 {
    grid-area: product;
    max-width: 50%;
    word-wrap: break-word;
}

/* ------------------------- EDIT CATEGORIES ----------------------------- */
.edit-categories {
    margin: 30px 0;
}

.edit-categories button, [type="submit"] {
    padding: 5px 15px;
    margin: 0 2.5px;
}

.edit-categories li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 350px;
    margin: 5px 0;background-color: #fafafa;
    border-radius: 5px;
    padding: 5px;
    align-items: center;
}

.edit-categories li h4 {
    grid-area: product;
    word-break: break-word;
    max-width: 50%;
}

.edit-categories [type="text"] {
    width: 250px;
    padding: 5px;
    border-radius: 5px;
    margin-right: 2.5px;
}