/* ------------------------- LANDING PAGE ----------------------------- */
.home-landing {
    height: 70vh;
    background-image: url('../../img/cart.svg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-landing h1 {
    font-size: 2.5em;
    padding-bottom: 60px;
    text-align: center;
}

.home-landing h1 span {
    color: #0066cc
}

/* ------------------------- BEST SELLER SECTION ----------------------------- */
.best-seller {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f1f1f1;
    padding-top: 10px;
    padding-bottom: 40px;
}

.best-seller h2 {
    margin: 30px;
    margin-bottom: 20px;
    font-weight: 600;
}

.best-seller .products-container {
    display: flex;
    justify-content: center;
}

.best-seller-product {
    background-color: #fff;
    padding: 20px;
    width: 280px;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
}

.best-seller-product:hover {
    box-shadow: 0 0 20px -7px #999;
}

.best-seller-product h2 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
}

.best-seller-product h5 {
    color: #0066cc;
    font-weight: bolder;
    margin-top: 10px;
    font-size: 1.3em;
}

.best-seller-product img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.best-seller a {
    color: #222;
    text-decoration: none;
}

/* ------------------------- ABOUT SECTION ----------------------------- */
.about {
    display: flex;
    flex-direction: column;   
    align-items: center;
    padding-bottom: 20px;
}

.about h2 {
    margin-top: 30px;
}

.about > div {
    display: flex;
    align-items: center;
    max-width: 960px;
    margin: 50px;
    margin-top: 30px;
}

.about img {
    width: 400px;
    margin-left: 40px;
    box-shadow: 0 0 13px -7px black;
}

@media only screen and (max-width: 1000px) {
    .best-seller .products-container {
        flex-direction: column;
    }

    .about > div {
        flex-direction: column;
    }

    .about > div p {
        max-width: 90%;
        min-width: 0;
    }

    .about > div img {
        margin: 20px 0
    }
}

@media only screen and (max-width: 540px) {
    .about > div img {
        width: 250px;
    }

    .about > div p {
        text-align: center;
    } 

    #footerBarBG {
        height: 150px;
    }
}