#headerBarBG {
  background-color: black;
  top: 0;
  width: 100%;
  font-size: 1em;
  color: white;
  position: relative;
}

#internalHeaderBar {
  padding: 10px 0;
  background-color: #222;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  line-height: 29px;
  line-height: 100%;
  position: relative;
}

#headerBarBG a {
  color: #FAFAFA;
  text-decoration: none;
  padding: 5px 0;
  margin: 0 20px;
  transition: all 0.3s;
  position: relative;
}

#headerBarBG a:hover {
  color: #0066cc;
  /* text-shadow: 2px 2px 2px #0066cc; */
}

#header_rightdiv a:before {
  content: '';
  position: absolute;
  top: 28px;
  width: 0;
  height: 1px;
  background-color: #0066cc;
  transition: all 0.3s ease;
  border-radius: 1px;
}


#headerBarBG a:hover::before {
  width: 100%;
  transition: all 0.5s ease;
}

#header_logo {
  transition: all 0.3s;
}

#header_logo:hover {
  filter: brightness(0) invert(1);
  cursor: pointer;
}

.btn {
  padding: 5px;
  color:white;
}

.sticky-inner {
  position: stick;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#header_rightdiv {
  display: flex;
  flex-direction: row;
  justify-items: flex-end;
  padding: 5px;
  margin: 0 15px 0 15px;
}

#header_leftdiv {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
}

@media only screen and (max-width: 540px) {
  #internalHeaderBar {
    flex-direction: column;
  }
  
  #header_rightdiv {
    flex-direction: column;
  }
  
  #header_rightdiv > div {
    padding: 10px;
  }
  
  #headerBarBG a {
    padding: 10px;
  }
}

.admin-bar {
  position: absolute;
  top: 100%;
  right: 40px;
  background-color: #333333bb;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}

#headerBarBG #admin-link {
  margin: 0;
}

#headerBarBG #admin-link:hover{
  font-weight: 700;
}