.register-form input:not([type="submit"]){
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 0.9em;
    color: #fafafa;
    width: 100%;
    box-sizing: border-box;
}

.register-form [type="submit"], .register-form .register-continue-button {
    width: 150px;
    font-size: 1em;
    padding: 5px 0;
    align-self: center;
    margin: 10px;
    font-weight: bolder;
}

.register-form .register-stage-2 div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.register-form .register-stage-2 div > input {
    width: 49%;
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}