.register-modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
  }
  
.register-modal-main {
  position:fixed;
  background: #222;
  width: 50%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-modal-main > div {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 30px;
  align-items: center;
}

.register-modal-main button {
  padding: 5px 10px;
  width: auto;
  margin: 0;
  font-weight: bolder;
  font-size: 0.7em;
}

.register-modal-main h2 {
  font-size: 1.4em;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

@media only screen and (max-width: 1000px) {
  .register-form {
    margin: 0;
    width: 100%;
  }

  .register-input-container {
    width: 100%;
  }
}

@media only screen and (max-width: 760px) {
  .register-modal-main {
    width: 360px;
  }
}

@media only screen and (max-width: 400px) {
  .register-modal-main {
    width: 300px;
  }
}