

#fixSideBar {
    position: relative;
    font-size: 1em;
    color: white;
    display: flex;
    flex-direction: row;
}

#SideBarlinks {
  background-color: #333333;
  min-height: 500px;
  min-width: 200px;
  padding-top: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

#fixSideBar a {
  transition: all 0.3s;
}
#fixSideBar a:hover {
  color: #0066cc;
  font-weight: 700;
}

#panelContent{
  width: 100%;
  background-color: #E5E5E5;
  color: #222;
}

.linkParagraph {
  margin: 15px auto 15px auto;
  text-decoration: none;
}

.linkParagraph a {
  color: #FAFAFA;
}

  