#footerBarBG {
  margin: auto;
  height: 40px;
  background-color: #222;
  height: 94px;
  width: 100%;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#internalBar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

#internalBar a {
  color: #0066cc;
  padding: 5px;
  transition: all 0.3s;
}

#internalBar a:hover {
  filter: brightness(0) invert(1);
}

#copyright_text {
  font-size: 0.8em;
  line-height: 17px;
}

#devby_text {
  font-size: 0.9em;
  line-height: 22px;
}
#0A0A08
#devby_highlight {
  font-weight: 600;
}
