.login-form [type="text"], .login-form [type="password"] {
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    font-size: 0.9em;
    color: #fafafa;
}

.login-form [type="submit"] {
    width: 150px;
    font-size: 1em;
    padding: 5px 0;
    align-self: center;
    margin: 10px;
    font-weight: bolder;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}