
.btn-preset {
    background-color: #0066cc;
    color: #fafafa;
    border-radius: 5px;
    transition: all 0.3s;
    font-weight: 900;
}

.btn-preset:hover {
    background-color: #fafafa;
    color: #0066cc;
    box-shadow: 0 0 10px #999;
    cursor: pointer;
}

textarea {
    font-family: Montserrat, sans-serif;
}