.product_comments {
    margin: 50px 0;
}

.product_comments > h2 {
    font-weight: 500;
    margin: 30px 0;
    font-size: 1.3em;
}

/* ------------------------- COMMENT FORM ----------------------------- */
.comment_form {
    padding: 20px;
    padding-top: 10px;
    background-color: #e8e8e8;
    border-radius: 5px;
}

.comment_form h3 {
    margin-bottom: 10px;
    font-weight: 500;
}

.comment_form > div {
    display: flex;
}

.comment_form textarea {
    resize: none;
    width: 100%;
    margin-right: 10px;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    font-family: Montserrat, sans-serif;
    background-color: #fafafa;
}

.comment_form input {
    padding: 0 10px
}

.comment_form input:hover {
    box-shadow: 0 0 10px #999;
}

/* ------------------------- COMMENT ----------------------------- */
.comment {
    background-color: #fafafa;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 0;
}

.comment > div {
    display: flex;
    justify-content: space-between;
}

.comment .comment_likes {
    display: flex;
    align-items: center;
}

.comment .comment_likes img {
    width: 20px;
    margin-right: 5px;
}

.comment .comment_likes img:hover{
    cursor: pointer;
}
.comment .comment_likes h2 {
    margin-right: 5px;
    font-size: 1.2em;
}
.comment h2 {
    font-weight: 500;
}

.comment p {
    margin: 20px 0;
}