.single_product {
    max-width: 700px;
    margin: 30px auto;
}

.single_product_container {
    background-color: #f1f1f1;
}
/* ------------------------- PRODUCT SHOW ----------------------------- */
#product_show {
    display: grid;
    grid-template-areas: "image info info";
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    min-height: 300px;
}

/* Product image */
#product_show #product_image {
    grid-area: image;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}

#product_show #product_image img {
    width: 170px;
    height: 170px;
    margin: 10px auto;
}
#product_show #aside_panel {
    grid-area: info;
}

/* Price and buttons panel */
#product_show #price_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

#product_show #price_and_buttons #product_price p{
    font-size: 2em;
    font-weight: bolder;
    color: #0066cc;
    text-align: center;
}

#product_show #price_and_buttons #product_buttons {
    display: flex;
    flex-direction: column;
}

#product_show #price_and_buttons #product_buttons button {
    padding: 5px 15px;
    margin: 5px 0;
    font-size: 1.1em;
}

#product_show #price_and_buttons #product_buttons button:hover {
    box-shadow: 0 0 10px #999;
}

/* Product upper panel (name, quantity, likes) */
#product_show #upper_panel {
    display: flex;
    justify-content: space-between;
}

#product_show #upper_panel  h2{
    font-weight: 600;
}

#product_show #upper_panel .product_likes {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

#product_show #upper_panel .product_likes img {
    margin-right: 5px;
}

#product_show #upper_panel .product_likes img:hover {
    cursor: pointer;
}

#product_show #upper_panel #product_quantity {
    margin: 15px 0;
}
#product_show #upper_panel #product_quantity input {
    width: 100%;
}
#product_show #upper_panel #product_quantity > p {
    margin: 3px 0;
}
#product_show #upper_panel #product_quantity > div{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    #product_show #upper_panel {
        flex-direction: column;
    }

    .single_product {
        margin: 40px 30px;
    }

    #product_show {
        display: flex;
        flex-direction: column;
    }

    #product_show #product_image {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #product_show #product_image img {
        max-height: 250px;
        max-width: 250px;
        margin: auto ;
    }

    #product_show #price_and_buttons {
        max-width: 200px;
        margin: 0 auto 20px auto;
    }
}

@media only screen and (max-width: 540px) {
    .comment_form > div {
        flex-direction: column;
    }

    .comment_form > div input {
        margin: 5px 0;
        padding: 10px;
    }
}